body {
  background-color: hsl(5, 93%, 50%);
  padding: 5px;
}
h1 {
  font-size: 10rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textDoode {
  display: flex;
  align-items: center;
  flex-direction: row;



}
input {
  height: 25px;
  width: 200px;
  font-size: 18px;
}
.movieSeats {
  height: 200px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1458053688450-eef5d21d43b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8d815ef30a5abbb17a9f634bc58c5e6e);
  background-size: contain;
  /*margin: 50px;*/
}
.filmMe {
  height: 25px;
  width: 100px;
  margin-left: 5px;
  background-color: rgb(127, 161, 154);
}
label, input, textarea, select {
  display: block;
  width:30rem;
}

textarea {
  height: 8rem;
  max-width: 30rem;
  max-height: 30rem;
}
form {
  display: flex;
  flex-direction: column;

}
